<td>
  <i class="fa" [ngClass]="{'fa-folder': item.isFolder, 'fa-file': !item.isFolder}"></i>
  <span *ngIf="!item.isFolder">{{item.name}}</span>
  <a *ngIf="item.isFolder" (click)="onSelectFolder(item)">{{item.name}}</a>
</td>
<td>Created {{item.date | duration}} ago</td>
<td class="text-right">{{item.size | fileSize}}</td>
