<h3 *ngIf="foldersStack.length > 0">Current path: {{buildFullPath()}}</h3>
<table class="table table-hover">
  <tbody *ngIf="currentFolder">
    <tr *ngIf="foldersStack.length > 1">
      <td colspan="3">
        <a (click)="onBack()">
          <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
          Go back
        </a>
      </td>
    </tr>
    <tr *ngFor="let file of currentFolder.items" app-file-row [item]="file" (onFolderSelected)="onFolderSelected($event)">
    </tr>
    <tr *ngIf="currentFolder.items.length === 0">
      <td colspan="3">
        Empty folder
      </td>
    </tr>
  </tbody>
</table>

<div class="alert alert-danger text-center" role="alert" *ngIf="error">
  Server error
</div>
