/* You can add global styles to this file, and also import other style files */
html {
  position: relative;
  min-height: 100%;
}

body .container {
  padding: 100px 15px 0;
}

a {
  cursor: pointer;
}

